@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.forgot-password-container {
    background: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-left: 35%;
    margin-top: 4%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #8B0000;
}

p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
}

.submit-button2 {
    background-color: #8B0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button2:hover {
    background-color: #B22222;
}

.login-link1 {
    margin-top: 20px;
}

.login-link1 a {
    color: #8B0000;
    text-decoration: none;
}